
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div> 
        <h2>@ViewBag.TitlePag</h2>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
