@model Models.PagoModel

@{

    ViewBag.Title = "Crear";
    ViewBag.TitlePag = "Crear Pago";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    var reservas = new List<SelectListItem>();
    reservas.Add(new SelectListItem() { Text = "Todas las reservas pendientes de pago", Value = "" });
    foreach (var item in ViewBag.Reserva)
    {
        reservas.Add(new SelectListItem() { Text = item.texto, Value = item.valor });
    }
}

@using (Html.BeginForm(FormMethod.Post))
{

    <div class="form-group">
        <label>Cliente:</label>
        @Html.DropDownListFor( model => model.idreserva,
       (List<SelectListItem>)reservas,
        new { @class="form-control", @required = true })
    </div>

   
    <div class="form-group">
        <label>Monto pago: </label>
        @Html.TextBoxFor( model => model.montopago,
       new  { @class="form-control", @required=true, type = "number", min="0", placeholder="Ingrese el monto pagado"})
    </div>


    <div class="form-group text-center">
        <input class="btn btn-success" type="submit" value="Grabar Pago" />
    </div>
}

<p>
    @Html.ActionLink("Volver", "Index", new { }, new { @Class = "btn btn-info" })
</p>
